{% extends 'base.html.twig' %}

{% block title %}Pagina de Eventos - Eventos{% endblock %}

{% block body %}
<main class="main_login_create">
    <div class="main_login_elements">
        {% if(error is defined and error) %}
            <div>
                <span>{{ error }}</span>
            </div>
        {% endif %}

        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button type="submit">Login</button>
        {{ form_end(form) }}
    </div>
</main>
{% endblock %}
