{% extends 'base.html.twig' %}

{% block title %}Pagina de Eventos - Inicio{% endblock %}

{% block body %}
    <style>
        .error {
            margin: 15px 30px;
        }
    </style>

    <div class="error">
        <h1>Error - 500</h1>
        <pre>{{ message }}</pre>
        <pre>{{ trace }}</pre>
    </div>
{% endblock %}
