{% extends 'base.html.twig' %}

{% block title %}Pagina de Eventos - Eventos{% endblock %}

{% block body %}
    <main class="events">
        <section class="events__next">
            <h2>Eventos próximos didi</h2>
            <div class="cards">
                {% for event in events.data %}
                    <div class="card">
                        <div class="card_image">
                            <img src="{{ event.banner }}" alt="#"/>
                            {% if(event.presale) %}
                                <div class="presale">Preventa: {{ event.presale.date|date("D F jS \\* g:ia Y") }} </div>
                            {% endif %}
                        </div>
                        <div class="card__info">
                            <span class="schedule"> {{ event.scheduledAt.date|date("D \\* M jS \\* g:ia Y") }} </span>
                            <h3><a href="/event/{{ event.id }}">{{ event.title }}</a></h3>
                            <span>{{ event.organizer }}</span>
                            <hr>
                            <p>{{ event.location }}</p>
                            <a href="/event/{{ event.id }}" class="moreInfo">
                                <div class="btn">
                                    MAS INFO
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="pagesContainer">
                {% if(page <= pages and page != 1) %}
                    <a href="{{ path('events_page', {'category': category, 'page': page - 1}) }}">< Página anterior</a>
                {% endif %}
                <p>Página: {{ page }}/{{ pages }} (Listado por página: {{ app.request.get('limit') ?? 10 }})</p>
                {% if(page < pages) %}
                    <a href="{{ path('events_page', {'category': category, 'page': page + 1}) }}">Siguiente Página ></a>
                {% endif %}
            </div>
        </section>
    </main>
{% endblock %}
