{% extends 'base.html.twig' %}

{% block title %}Pagina de Eventos - Event{% endblock %}

{% block body %}

    <main class="grid_detail">
        <div class="return">
            <button><a href="{{ path('index_page') }}"><- Regresar</a></button>
        </div>
        <article>
          <img class="evento_imagen" src="{{ event.data.banner }}"  alt="Sample photo">
          <div class="text">
            <h2>{{ event.data.title }}</h2>
            <h4>{{ event.data.organizer }}</h4>
            <p>{{ event.data.description }}</p>
            <span>${{ event.data.price }}</span>
            {% if(event.data.percentageDiscount) %}
                <span>| {{ event.data.percentageDiscount }} % de descuento</span>
            {% endif %}

            {% if(event.data.presale) %}
            <p>Preventa: {{ event.data.presale.date|date("D M jS g:ia Y") }}</p>
        {% endif %}
        <p>Programado para: {{ event.data.scheduledAt.date|date("D M jS g:ia Y") }}</p>
        <p>Duración estimada: {{ event.data.estimatedDuration }}</p>
        <p>Límite de edad: {{ event.data.ageLimit ?? "Sin establecer" }}</p>
        <p>Restricciones: {{ event.data.restrictions ?? "Sin establecer"}}</p>
        <hr>
        <h5>Locacion:</h5>
        <p>{{ event.data.location }}</p>
        <h5>Promocionado por:</h5>
        <p>{{ event.data.createdBy.firstName }} | {{ event.data.createdBy.email }}</p>
            <button><a href="/event/{{ event.data.id }}" class="link">Detalle</a></button>
          </div>
        </article>
      </main>
{% endblock %}
