{% extends 'base.html.twig' %}

{% block title %}Pagina de Eventos - Inicio{% endblock %}

{% block body %}

        <main class="grid">
            {% for event in responseNext.data %}
            <article>
              <img class="evento_imagen" src="{{ event.banner }}"  alt="Sample photo">
              <div class="text">
                {% if(event.presale) %}
                <h3>Preventa: {{ event.presale.date|date("D F jS \\* g:ia Y") }} </h3>
                 {% endif %}
                <h3><a class="evento_titulo" href="/event/{{ event.id }}">{{ event.title }}</a></h3>
                <p>{{ event.location }}</p>
                <button><a href="/event/{{ event.id }}" class="link">Detalle</a></button>
              </div>
            </article>
            {% endfor %}
          </main>

{% endblock %}
