{% extends 'base.html.twig' %}

{% block title %}Pagina de Eventos - Inicio de Sesión{% endblock %}

{% block body %}

<main class="main_login">
    <div class="">
        {% if(error is defined and error) %}
            <div>
                <span>{{ error }}</span>
            </div>
        {% endif %}
        <h2>Registrarse</h2>
        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button type="submit">Registrarse</button>
        {{ form_end(form) }}
    </div>
</main>

{% endblock %}




