/* body {
    background-color: #383838;
    color: #FFFFFF;
    font-family: sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #171f17;
    width: 100vw;
    height: 100%;
    flex-wrap: wrap;
}

.header__title {
    flex-basis: 30%;
    text-align: center;
    line-height: 1.5;
}

.header__title a {
    text-decoration: none;
    color: #fff;
}

.header__links {
    display: flex;
    flex-direction: row;
    flex-basis: 65%;
    flex-wrap: nowrap;
}

.header__links-group {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    gap: 5px;
    flex-wrap: nowrap;
    margin: 0;
}

.header__links-item {
    min-width: max-content;
}

.header__links-item a:hover {
    background-color: rgba(161, 236, 73, 0.46);
}

.header__links-item a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 14px;
    min-width: max-content;
}

.basis-75 {
    flex-basis: 70%;
}

.basis-20 {
    flex-basis: 20%;
}

.events {
    margin: 5vh 5vw;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vw;
    color: #383838;
    margin: 15px 0;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #f7f8f2;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    max-width: 350px;
}

.card_image {
    position: relative;
    z-index: 1;
}

.card_image img {
    border-radius: 5px 5px 0 0;
    width: 350px;
    max-width: 350px;
    max-height: 200px;
}

.card__info {
    padding: 5px 15px 10px 15px;
}

.schedule {
    color: #105e10;
    font-weight: bold;
}

.card__info h3 {
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card__info h3 a {
    text-decoration: none;
    color: #009a00;
}

.presale {
    background-color: rgb(27, 171, 30);
    border-radius: 2px;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 1;
    position: absolute;
    padding: 4px 8px;
    bottom: 15px;
    z-index: 2;
}

.card__info p {
    margin: 0;
}

.btn {
    margin: 5px 0;
    padding: 10px;
    background-color: deepskyblue;
    text-align: center;
    border-radius: 7px;
}

.btn:hover {
    background-color: #00a4d9;
}

.moreInfo {
    text-decoration: none;
    color: #181818;
}

.loginForm {
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginCard {
    color: #000;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.form-control {
    height: 30px;
    margin: 5px 0;
}

.event__image img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 5px solid #FFF;
}

.event {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.summary {
    text-wrap: normal;
    flex-basis: 70%;
}

.info_event {
    background-color: white;
    border-radius: 10px;
    color: #000;
    font-family: arial, sans-serif;
    padding: 20px;
    width: 80vw;
}

.summary h4 {
    font-size: 18px;
}

.return {
    margin-bottom: 20px;
}

.return a {
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.pagesContainer {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagesContainer a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin: 0 5px;
}

.admin_panel {
    padding: 40px 80px;
    margin: 50px;
    border-radius: 10px;
    background-color: #2d2a21;
}


.table {
    font-family: sans-serif;
    color: #000;
    border-spacing: 5px;
}

.table, th, td {
    padding: .25em .5em;
    text-align: left;
}

td {
    background-color: #eee;
}

th {
    background-color: #266e00;
    color:#fff;
}

.table__title {
    max-width: 200px;
}

.table a {
    text-decoration: none;
    color: #08ad00;
}

.create_event {
    text-align: center;
    padding: 10px;
    background-color: green;
    max-width: 150px;
    border-radius: 20px;
}

.link_create_event {
    text-decoration: none;
    color: white;
}


@media only screen and (max-width: 500px) {
    header {
        flex-wrap: wrap;
    }

    .header__title {
        flex-basis: 100%;
    }

    .header__links {
        flex-wrap: wrap;
        flex-basis: 100%;
    }

    .header__links-group {
        flex-wrap: wrap;
        flex-basis: 100%;
        justify-content: center;
    }
} */




@import url('https://fonts.googleapis.com/css?family=Roboto');


body {
    background-color: #222020;
    color: #FFFFFF;
    font-family: sans-serif;
    font-family: 'Roboto', sans-serif;
    padding: 40px 0;
}


* {
	margin: 0;
	padding: 0;
}
i {
	margin-right: 10px;
}
/*----------bootstrap-navbar-css------------*/
.navbar-logo{
	padding: 15px;
	color: #fff;
}
.navbar-mainbg{
	background-color: #5161ce;
	padding: 0px;
}
#navbarSupportedContent{
	overflow: hidden;
	/* position: relative; */
}
#navbarSupportedContent ul{
	padding: 0px;
	margin: 0px;
}
#navbarSupportedContent ul li a i{
	margin-right: 10px;
}
#navbarSupportedContent li {
	list-style-type: none;
	float: left;
}
#navbarSupportedContent ul li a{
	color: rgba(255,255,255,0.5);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    /* transition-duration:0.6s; */
	/* transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); */
    /* position: relative; */
}
#navbarSupportedContent>ul>li.active>a{
	color: #5161ce;
	background-color: transparent;
	transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
	content: "\f105";
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 14px;
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	transition: 0.5s;
}
#navbarSupportedContent .active>a:not(:only-child):after {
	transform: rotate(90deg);
}
.hori-selector{
	display:inline-block;
	position:absolute;
	height: 100%;
	top: 0px;
	left: 0px;
	/* transition-duration:0.6s; */
	/* transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); */
	background-color: #fff;
	/* border-top-left-radius: 15px; */
	/* border-top-right-radius: 15px; */
	margin-top: 10px;
}
.hori-selector .right,
.hori-selector .left{
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: #fff;
	bottom: 10px;
}
.hori-selector .right{
	right: -25px;
}
.hori-selector .left{
	left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before{
	content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #5161ce;
}
.hori-selector .right:before{
	bottom: 0;
    right: -25px;
}
.hori-selector .left:before{
	bottom: 0;
    left: -25px;
}


@media(min-width: 992px){
	.navbar-expand-custom {
	    -ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
	}
	.navbar-expand-custom .navbar-nav {
	    -ms-flex-direction: row;
	    flex-direction: row;
	}
	.navbar-expand-custom .navbar-toggler {
	    display: none;
	}
	.navbar-expand-custom .navbar-collapse {
	    display: -ms-flexbox!important;
	    display: flex!important;
	    -ms-flex-preferred-size: auto;
	    flex-basis: auto;
	}
}


/* @media (max-width: 991px){
	#navbarSupportedContent ul li a{
		padding: 12px 30px;
	}
	.hori-selector{
		margin-top: 0px;
		margin-left: 10px;
		border-radius: 0;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	.hori-selector .left,
	.hori-selector .right{
		right: 10px;
	}
	.hori-selector .left{
		top: -25px;
		left: auto;
	}
	.hori-selector .right{
		bottom: -25px;
	}
	.hori-selector .left:before{
		left: -25px;
		top: -25px;
	}
	.hori-selector .right:before{
		bottom: -25px;
		left: -25px;
	}
} */

/*  LOGIN */
.main_login{
	width: 350px;
	height: 500px;
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
    margin: 0 auto;
    margin-top: 100px;
}


.main_login_create{
    width: 50%;
	height: 50%;
	/* overflow: hidden;  */
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
    margin: 0 auto;
}

.main_login_elements{
font-size: 16px;
}





#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: 90%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: inline-block;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}

textarea{
	width: 90%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: inline-block;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}

div select {
	/* width: 90%;
	height: 20px; */

}
button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

div button {
        width: 60%;
        height: 40px;
        margin: 10px auto;
        justify-content: center;
        display: block;
        color: #fff;
        background: #573b8a;
        font-size: 1em;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 15px;
        outline: none;
        border: none;
        border-radius: 5px;
        transition: .2s ease-in;
        cursor: pointer;

}
button:hover{
	background: #6d44b8;
}
.login{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label{
	color: #573b8a;
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
  }

.grid > article {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  }

.grid > article img {
    max-width: 100%;
  }

.grid .text {
    padding: 20px;
  }

.link{
color: #fff;
text-decoration: none;

}


.evento_titulo{
    color: rgb(35, 159, 66);
}


.grid_detail {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
    grid-gap: 50px;
    align-items: center;
  }

.grid_detail > article {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  }

.grid_detail > article img {
    max-width: 100%;
  }

.grid_detail .text {
    padding: 20px;
  }
