<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Pagina de Eventos{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('build/app.js') }}"></script>
    {% endblock %}
</head>
<body>
{% block header %}


    <nav class="navbar navbar-expand-custom navbar-mainbg">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('index_page') }}"><i class="fas fa-tachometer-alt"></i>Cartelera</a>
                </li>
                {% if(jwt is defined and jwt) %}
                {% if(isAdmin is defined and isAdmin) %}
                <li class="nav-link"><a href="{{ path('panel_page') }}">Panel</a></li>
                {% endif %}
                <li class="nav-link"><a href="{{ path('create_event_page') }}">Crear evento</a></li>
                <li class="nav-link"><a href="{{ path('logout_page') }}">Cerrar Sesión</a></li>
            {% else %}
                <li class="nav-link"><a href="{{ path('login_page') }}">Iniciar Sesión</a></li>
                <li class="nav-link"><a href="{{ path('register_page') }}">Registrarse</a></li>
            {% endif %}
            </ul>
        </div>
    </nav>


{% endblock %}
{% block body %}{% endblock %}
{% block footer %}{% endblock %}
</body>
</html>
